:root {
  font-family: "Roboto", sans-serif;
}
.bckgr {
  position: relative;
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.img {
  position: sticky;
  top: 0;
}
.section {
  width: 60%;
  padding-left: 107px;
  padding-right: 99px;
  padding-top: 99px;
  padding-bottom: 90px;
  box-sizing: border-box;
  background-color: #fff;
}
.inscript {
  display: flex;
  justify-content: end;
  padding-bottom: 52px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #4743e0;
}
.inscript > img {
  padding-left: 10px;
  box-sizing: border-box;
}
.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #00000020;
  padding-bottom: 48px;
  box-sizing: border-box;
}
.main-title h1 {
  width: 45%;
  font-weight: 700;
  font-size: 54px;
  line-height: 68px;
  color: #42505c;
  margin: 0;
}
.main-title p {
  width: 45%;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  margin: 0;
  color: #404040;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-top: 12px;
  box-sizing: border-box;
  border-bottom: 1px dashed #00000020;
  padding-bottom: 48px;
  box-sizing: border-box;
}
.input {
  width: 45%;
}
.input-title {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  box-sizing: border-box;
}
div.input input {
  outline: none;
  width: 100%;
  height: 48px;
  padding: 15px 17px;
  box-sizing: border-box;
  margin-top: 15px;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: #00000040;
}
.radio-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}
div.radio-box input {
  appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}
.radio {
  width: 22%;
  height: 48px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  color: #00000050;
}

input[type="radio"]:checked + label,
div.input input:focus {
  color: #4743e0;
  border: 1px solid #4743e0;
  box-shadow: 0px 0px 14px rgba(71, 67, 224, 0.2);
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  box-sizing: border-box;
}
input[type="checkbox"] {
  display: none;
}
.agree-checkbox > label {
  display: flex;
  align-items: center;
}
.check-flag {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #d1d1d1;
}
span.text {
  padding-left: 15px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #404040;
  letter-spacing: 0.25px;
  line-height: 28px;
}
span.text > a {
  font-weight: 700;
  color: #4743e0;
}
a {
  color: #4743e0;
  text-decoration: none;
  border: none;
}
input.input-checkbox:checked + label > span.check-flag {
  background-color: #4743e0;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
input[type="button"] {
  outline: none;
  border: none;
  width: 102px;
  height: 48px;
  padding: 15px 17px;
  box-sizing: border-box;
  background-color: #4743e0;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
input[type="button"]:hover {
  box-shadow: 1px 1px 14px rgba(71, 67, 224, 0.2);
}
input[type="button"]:active {
  background-color: #211dc1;
  box-shadow: 1px 1px 14px rgba(71, 67, 224, 0.2);
}
